<%- include("header") -%>
<div class="container-fluid" id="bg">
  <div class="container-fluid lg-12 justify-content-center align-self-center" id="home-img">
    <div id="home-head">
      <div class="row">
        <div class="col-md-6 col-sm-12">
        </div>
        <div class="col-lg-6 col-sm-12">
          <h1 class="home-heading">Fighting Covid-19 Together</h1>
          <p class="home-heading">“We have a chance to do something extraordinary. As we head out of this pandemic we can change the world. Create a world of love. A world where we are kind to each other. A world were we are kind no matter what
            class, race, sexual orientation, what religion or lack of or what job we have. A world we don't judge those at the food bank because that may be us if things were just slightly different. Let love and kindness be our roadmap.”
            ― Johnny Corn</p>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container">

  <div class="row">

    <div class="col-lg-4 col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Toll Free</h5>
          <p class="card-text">Call to report</p>
          <a href="#" class="card-link"><%=tnumber%></a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Contact Number</h5>
          <p class="card-text">Feel free to contact at anytime</p>
          <a href="#" class="card-link"> <%=cnumber%> </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Email</h5>
          <p class="card-text">Email us your queries</p>
          <a href="#" class="card-link"><%=email%></a>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-9" id="curve_chart" style="width: 900px; height: 500px">
          <p class="stateData" id="sN" hidden><%=sN%></p>
          <p class="stateData" id="d1h" hidden><%=d1h%></p>
          <p class="stateData" id="d1r" hidden><%=d1r%></p>
          <p class="stateData" id="d1d" hidden><%=d1d%></p>

          <p class="stateData" id="d2h" hidden><%=d2h%></p>
          <p class="stateData" id="d2r" hidden><%=d2r%></p>
          <p class="stateData" id="d2d" hidden><%=d2d%></p>

          <p class="stateData" id="d3h" hidden><%=d3h%></p>
          <p class="stateData" id="d3r" hidden><%=d3r%></p>
          <p class="stateData" id="d3d" hidden><%=d3d%></p>

          <p class="stateData" id="d4h" hidden><%=d4h%></p>
          <p class="stateData" id="d4r" hidden><%=d4r%></p>
          <p class="stateData" id="d4d" hidden><%=d4d%></p>

          <p class="stateData" id="d5h" hidden><%=d5h%></p>
          <p class="stateData" id="d5r" hidden><%=d5r%></p>
          <p class="stateData" id="d5d" hidden><%=d5d%></p>

          <p class="stateData" id="d6h" hidden><%=d6h%></p>
          <p class="stateData" id="d6r" hidden><%=d6r%></p>
          <p class="stateData" id="d6d" hidden><%=d6d%></p>
        </div>
        <div class="col-3">
          <form class="" action="/stateData" method="post">
            <label class="dropdown-label-head" for = "stateName" style="color:#112d4e;"> Type your state name to see its corona reports</label>
            <input class = "form-control" id="stateName" type="text" name="stateName" placeholder="State Name ">
          </form>
        </div>
      </div>

    </div>
    <div class="col-md-4 " id="sidebar">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="stiky-top">Notifications</th>
            </tr>
          </thead>
          <tbody>
            <%  for(var i=0; i<notifArray.length; i++){%>

            <tr>
              <td>
                <small id="emailHelp" class="form-text date"><%=notifArray[i].date%></small>
                <a href=<%=notifArray[i].link%>><%= notifArray[i].title %> </a>
              </td>
            </tr>
            <%  }%>


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include("footer") -%>
