<%- include("header") -%>
<div class="container-fluid" id="bg">
  <div class="container-fluid lg-12 justify-content-center align-self-center" id="home-img">
    <div id="home-head">
      <div class="row">
        <div class="col-md-6 col-sm-12">
        </div>
        <div class="col-lg-6 col-sm-12">
          <h1 class="home-heading">Fighting Covid-19 Together</h1>
          <p class="home-heading">“We have a chance to do something extraordinary. As we head out of this pandemic we can change the world. Create a world of love. A world where we are kind to each other. A world were we are kind no matter what class, race, sexual orientation, what religion or lack of or what job we have. A world we don't judge those at the food bank because that may be us if things were just slightly different. Let love and kindness be our roadmap.”
― Johnny Corn</p>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container">

  <div class="row">

    <div class="col-lg-4 col-md-12">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Toll Free</h5>
          <p class="card-text">Call to report</p>
          <a href="#" class="card-link"><%=tnumber%></a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Contact Number</h5>
          <p class="card-text">Feel free to contact at anytime</p>
          <a href="#" class="card-link"> <%=cnumber%> </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Email</h5>
          <p class="card-text">Email us your queries</p>
          <a href="#" class="card-link"><%=email%></a>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4 " id="sidebar">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="stiky-top">Notifications</th>
            </tr>
          </thead>
          <tbody>
            <%  for(var i=0; i<notifArray.length; i++){%>

            <tr>
              <td>
                <small id="emailHelp" class="form-text date"><%=notifArray[i].date%></small>
              <a href= <%=notifArray[i].link%>><%= notifArray[i].title %> </a>
              </td>
            </tr>
            <%  }%>


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include("footer") -%>
