<%- include("header") -%>

<div class="container-fluid lg-12 justify-content-center align-self-center" id="home-img">
  <div id="home-head">
    <div class="row">
      <div class="col-md-6 col-sm-12">  
      </div>
      <div  class="col-lg-6 col-sm-12">
        <h1 class="home-heading">NAME</h1>
        <p class="home-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  
    
</div>


<div class="container">

  <div class="row">

    <div class="col-lg-4 col-md-12">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Toll Free</h5>
          <p class="card-text">Call to report</p>
          <a href="#" class="card-link"><%=tnumber%></a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Contact Number</h5>
          <p class="card-text">Feel free to contact at anytime</p>
          <a href="#" class="card-link"> <%=cnumber%> </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Email</h5>
          <p class="card-text">Email us your queries</p>
          <a href="#" class="card-link"><%=email%></a>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      
    </div>
  </div>
</div>

<%- include("footer") -%>
